.form-contato {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.nome, .mensagem {
    position: relative;
}
#mensagem-label{
    position: absolute;
    top: -25px;
}
#nome-label {
    position: absolute;
    top: -25px;
}
.titulo-box.titulo-contato {
    padding-bottom: 35px;
}
textarea {
    resize: none;
}